extends ../layouts/common

block content
	.function-box
		button.btn.btn-primary(onclick="random();") Random
		span.ml-3.mb-0.random-num(id="random") 
		.d-flex.ml-auto
			button.btn.btn-secondary.margin-left(onclick="showOldNumbers();", id="btn-show") Show

			form.form-search-box.mb-0.margin-left(action="/host/reset",method="GET")
				button.btn.btn-secondary Reset
			button.btn.btn-danger.margin-left(onclick="clearAll();") Clear
	//- div(style="height: 20px;")
	div.hidden.old-numbers(id="oldNumbers")

	table.table.text-white.m-0
		each row in tableTop
			tr
				each num in row
					td.border.text-center.width-num
						label.mb-0.font-weight-bold= num
						input(type="checkbox", id=num).switch.border-0
	.blank
	table.table.text-white.m-0
		each row in tableMid
			tr
				each num in row
					td.border.text-center.width-num
						label.mb-0.font-weight-bold= num
						input(type="checkbox", id=num).switch.border-0
	.blank
	table.table.text-white.m-0
		each row in tableBot
			tr
				each num in row
					td.border.text-center.width-num
						label.mb-0.font-weight-bold= num
						input(type="checkbox", id=num).switch.border-0






	script.

		//random
		var oldNumbers = [];
		var oldNumbersString = [];
		function random(){
			var number = document.getElementById('random');
			var inLoop = true;
			while(inLoop){
				var random = Math.floor(Math.random() * (90 - 1 + 1) + 1);
				if(oldNumbers.indexOf(random) === -1){
					oldNumbers.push(random);
					oldNumbersString.push(" " + JSON.stringify(random));

					document.getElementById('oldNumbers').innerHTML = oldNumbersString;
					number.innerHTML = random;

					var uncheckedNum = document.getElementById(random);
					if(uncheckedNum !== null){
						uncheckedNum.classList.add("checked");
					}	
					inLoop = false;
				}
			}
		};


		function showOldNumbers(){
			document.getElementById("oldNumbers").classList.remove("hidden");
			var btn = document.getElementById("btn-show");
			btn.setAttribute("onclick", "hideOldNumbers();");
			btn.innerHTML = "Hide";
		}

		function hideOldNumbers(){
			document.getElementById("oldNumbers").classList.add("hidden");
			var btn = document.getElementById("btn-show");
			btn.setAttribute("onclick", "showOldNumbers();");
			btn.innerHTML = "Show";
		}

		function clearAll(){
			for( var i = 1; i < 91; i++){
				if(document.getElementById(i)){
					document.getElementById(i).classList.remove("checked");
					document.getElementById(i).classList.add("colorNumber");
				}
			}
			oldNumbers.length = 0;
			oldNumbersString.length = 0;
		}

		function colorNumber(){
			for( var i = 1; i < 91; i++){
				if(document.getElementById(i)){
					document.getElementById(i).classList.add("colorNumber");
				}
			}
		}
		colorNumber();







