extends ../layouts/common

block content
	.function-box
		form(action="/users/reset", class="form-search-box mb-0" ,method="GET")
			button.btn.btn-primary Reset
		button.btn.btn-danger.btn-clear.ml-auto(onclick="clearAll();") Clear
	//- div(style="height: 20px;")

	table.table.mb-0
		each row in tableTop
			tr
				each num in row
					td.border.text-center.width-num.z-index-0
						input(type="checkbox", id=num).switch-users.border-0
						label.text-white.font-weight-bold= num
						// transparent button 			
						div.opacity-btn(onclick="addCheck("+num+");", id="btn-"+num)

	.blank
	table.table.mb-0
		each row in tableMid
			tr
				each num in row
					td.border.text-center.width-num.z-index-0
						input(type="checkbox", id=num).switch-users.border-0
						label.text-white.font-weight-bold= num
						// transparent button 			
						div.opacity-btn(onclick="addCheck("+num+");", id="btn-"+num)
	.blank
	table.table.mb-0
		each row in tableBot
			tr
				each num in row
					td.border.text-center.width-num.z-index-0
						input(type="checkbox", id=num).switch-users.border-0
						label.text-white.font-weight-bold= num
						// transparent button 			
						div.opacity-btn(onclick="addCheck("+num+");", id="btn-"+num)

	script. 


		function addCheck(id){
			var element = document.getElementById(id);
			var btn = document.getElementById("btn-"+id);
			if(element !== null){
				element.classList.add("checked");
				btn.setAttribute("onclick", "removeCheck(" + id + ");");
			}
		}	

		function removeCheck(id){
			var element = document.getElementById(id);
			var btn = document.getElementById("btn-"+id);
			if(element !== null){
				element.classList.remove("checked");
				btn.setAttribute("onclick", "addCheck(" + id + ");");
			}
		}	

		function clearAll(){
			for( var i = 1; i < 91; i++){
					removeCheck(i);
				}
		}
		

		function colorNumber(){
			for( var i = 1; i < 91; i++){
				if(document.getElementById(i)){
					document.getElementById(i).classList.add("colorNumber");
				}
			}
		}
		colorNumber();